<div class="row">
    <div class="col-3">
        <div class="sticky-top">
            <a class="list-group-item list-group-item-action" [class.active]="!category" routerLink="/">All Categories</a>
            <a *ngFor="let c of categories$" class="list-group-item list-group-item-action" routerLink="/" [queryParams] = "{category: c.id}"
            [class.active]="category === c.id">
                {{ c.name }}
            </a>
        </div>
    </div>
    <div class="col-9">
        <div class="row">
            <ng-container *ngFor="let p of filteredProducts; let i = index">
                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img class="card-img-top" [src]="p.imageUrl" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">{{ p.title}}</h5>
                          <p class="card-text">{{ p.price | currency: 'USD': true }}</p>
                          
                        </div>
                        <div class="card-footer"> 
                           <a href="#" class="btn btn-primary btn-block">Add to Cart</a>
                        </div>
                      </div>
                </div>
                <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
            </ng-container>
        </div>
    </div>
</div>


